.edit_button{
    fill:$warning !important;
    display: inline-block;
    background: url("/img/icons/system/edit.svg") no-repeat center center ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}
